# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
*.xcuserstate
*.xcuserdatad/
xcuserdata/

# Swift Package Manager
.swiftpm/
.build/

# macOS
.DS_Store

# Build products
build/
DerivedData/
